.rdw-editor-main {
    background-color: rgba(0,0,0,0.1);
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 200px;
    border-radius: 10px;
    max-height: 400px;
    min-height: 400px;
    
}

.row{
    overflow: hidden;
}

.update__forms{
    width: auto;
    max-width: 100%;
}

.rdw-editor-main img{
    max-height: 350px;
}